*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tour__main{
    padding: 20px 190px 22px;
    margin: auto;
    display: grid;
    grid-template-columns: calc(33.33% - 20px) calc(33.33% - 20px) calc(33.33% - 20px);
    grid-gap: 40px 20px;
}
.tour__search{
    padding: 8px 190px 20px;
    display: flex;
    align-items: center;
}
.tour__search input{
    padding: 10px 0;
    width: 20vw;
    padding-left: 34px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.search__input{
    position: relative;
}
.tour__search p{
    font-size: 20px;
    margin-right: 10px;
}
.search__icon{
    position: absolute;
    top: 30%;
    left: 3%;
}
.tour__brief{
    text-align: center;
    margin-top: 110px;
}
.tour__brief__dentination{
    font-size: 30px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    color: #e2c0bb;
    letter-spacing: 2px;
    margin-top: 24px;
}
.tour__bestplace{
    color:#000000;
    font-family: 'Cormorant Garamond', serif;
    font-size:40px;
    line-height:60px;
    margin:0px 0px 24px;
    font-weight: 500;
}
.tour__brief p{
    margin: 0 auto;
    margin-bottom: 58px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    font-family: "Poppins", Arial, sans-serif;
    width: 55%; 
}
.tour__list:hover .tour__img-header{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transition: all 2s ease-in;
    -webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -ms-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
}
.tour__img{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    height: 350px;
}
.tour__price{
    position: absolute;
    min-width: 118px;
    height: 38px;
    background-color: rgb(80, 208, 208);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -3px;
    left: 10px;
    width: auto;
}
.tour__img-header{
    
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.tour__detail h3{
    color:#999999;
    font-size:14px;
    font-weight:500;
    letter-spacing:2px;
    line-height:21.6px;
    text-align:left;
    text-transform:uppercase;
    margin: 14px 0;
}
.tour__detail{
    margin-left: 5px;
}
.tour__detail p{
    font-family:Cormorant Garamond;
    font-size:20px;
    font-weight:600;
    line-height:30px;
    text-align:left;
}
.rate{
    color: #e2c0bb;
    margin: 6px 0;
    font-size: 12px;
    letter-spacing:1px;
}
.tour__btn-detail{
    background-color: #545050;
    border: none;
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.tour__btn-detail:hover{
    background-color: #353333;
}
.tour__btn{
    background-color: #fb998a;
    border: none;
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.tour__btn:hover{
    background-color: #ed705d;
}

